<% content_for :title, t("views.titles.admin.link_category_edit") %>

<%= render "admin/nav" %>

<h1 class="text-2xl font-bold text-slate-900 dark:text-slate-100 mb-6">
  <%= t("views.admin.link_categories.edit") %>: <%= @link_category.name %>
</h1>

<%= render "form", link_category: @link_category %>
