<div class="px-6 pt-6">
  <div class="p-4 rounded-lg bg-red-50 dark:bg-red-900/30 text-red-700 dark:text-red-300 border border-red-200 dark:border-red-800"
       role="alert">
    <p class="text-sm font-medium mb-2"><%= t("views.admin.shared.errors_title") %></p>
    <ul class="list-disc list-inside text-sm space-y-1">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
</div>
